In [12]:
import sys
import os

# Add parent directory to path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from src.db_connection import DatabaseConnection



db = DatabaseConnection()
con  = db.get_connection()


cursor = con.cursor()
cursor.execute("select * from bronze.covid;")

print(cursor.fetchall())

[]

In [ ]:
from datetime import date


date.today()

datetime.date(2025, 11, 9)

In [ ]:




print(db_host , db_password)

localhost covid

In [4]:
import sys
import os
import pandas as pd
# Add parent directory to path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from src.db_connection import DatabaseConnection



db = DatabaseConnection()

df = db.read_dataframe_from_db("SELECT * FROM BRONZE.covid;")


df.head(10)

,fips,admin2,province_state,country_region,last_update,lat,long_,confirmed,deaths,recovered,active,combined_key,incident_rate,case_fatality_ratio,ingested_at
0,NaN,None,None,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343,2021-01-01
1,NaN,None,None,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173,2021-01-01
2,NaN,None,None,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848,2021-01-01
3,NaN,None,None,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865,2021-01-01
4,NaN,None,None,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328,2021-01-01
5,NaN,None,None,Antigua and Barbuda,2021-01-02 05:22:33,17.06080,-61.796400,159,5,148,6,Antigua and Barbuda,162.364186,3.144654,2021-01-01
6,NaN,None,None,Argentina,2021-01-02 05:22:33,-38.41610,-63.616700,1629594,43319,1426676,159599,Argentina,3605.633332,2.658269,2021-01-01
7,NaN,None,None,Armenia,2021-01-02 05:22:33,40.06910,45.038200,159738,2828,143355,13555,Armenia,5390.664389,1.770399,2021-01-01
8,NaN,None,Australian Capital Territory,Australia,2021-01-02 05:22:33,-35.47350,149.012400,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373,2021-01-01
9,NaN,None,New South Wales,Australia,2021-01-02 05:22:33,-33.86880,151.209300,4947,54,0,4893,"New South Wales, Australia",60.938655,1.091571,2021-01-01

In [4]:


from datetime import datetime



now = datetime.now().date()

str(now)

'2025-11-15'